<a href="https://colab.research.google.com/github/annamas1/AnnaMas_HomeWork/blob/master/Seminar1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Семинар 1**

***Задание 1***

1.1 Соедините два словаря в один

In [11]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}
dict1.update(dict2)
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

1.2 Напишите функцию, которая на вход принимает два словаря и возвращает один объединенный словарь

In [12]:
def func(dict1, dict2):
  dict1.update(dict2)
  return dict1

func(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

***Задание 2***

Напишите функцию, которая из двух списков, делает один словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения

2.1 Используя цикл for

In [14]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

In [17]:
def func2(keys, values):
  dict3 = {}
  for i in range (len(keys)):
    dict3.update({keys[i]:values[i]})
  return dict3

func2(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

2.2 Используя dict comprehensions

In [21]:
def func3(keys, values):
  return {keys[i]:values[i] for i in range (len(keys))}
func3(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

***Задание 3***

3.1 Напишите функцию с циклом for

Функция на вход принимает:
исходный словарь
ключи, которые нужно извлечь (аргумент по умолчанию)
На выходе словарь с нужными ключами
Используйте аннотирование типов

In [22]:
client_dict = {
"name": "John",
"age": 25,
"salary": 5000,
"city": "Moscow"
}

keys = ['name', 'age']
def func4(dict4, keys):
  dict5 = {}
  for i in keys:
    dict5.update({i: dict4[i]})
  return dict5
func4(client_dict, keys)

{'name': 'John', 'age': 25}

3.2 Используя dict comprehensions

In [23]:
def func5(keys,dict4):
  return {i: dict4[i] for i in keys}
func5(keys, client_dict)

{'name': 'John', 'age': 25}

***Задание 4***

4.1 Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random


*   Зафиксируйте псевдогенерацию, чтобы сгенерированные значения всегда были одинаковые
*   Используйте list comprehensions

In [27]:
import random
random.seed(10)
list1 = [random.randint(0,100) for i in range (5)]
list1

[73, 4, 54, 61, 73]

4.2 Напишите генератор
 
*   Генератор на вход принимает список с данными о клиенте (данные из пункта 4.1)
*   Внутри генератора реализуйте обход по списку с данными

На каждой итерации генератор будет возвращать кортеж из двух элементов:
1.   данные по клиенту (в зависимости от итерации, на 0 итерации вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)
2.   целочисленное значение, которое показывает, сколько секунд прошло с предыдущей итерации

Примечание: секунды, которые возвращаются должны показывать время не с начала запуска генератора, а именно то время, которое прошло с предыдущей итерации. А значит время на первой итерации должно равняться 0.

*   Используйте функцию time из модуля time для подсчета времени.
*   Чтобы проверить работу таймера, запустите проход по генератору в цикле с time.sleep(2)

In [28]:
import time
def func6(list1):
  last_time = None
  for i in list1:
    current_time = time.time()
    if last_time: d = current_time - last_time
    else: d = current_time - current_time
    last_time = time.time()
    yield (int(d), i)

for i in func6(list1):
  print(i)
  time.sleep(2)

(0, 73)
(2, 4)
(2, 54)
(2, 61)
(2, 73)

***Задание 5***

5.1 Найдите картинку в интернете и прикрепите её в ячейку с текстом

<img src=https://cdn.playcaliber.com/site/media/news/2021/06/01/4-%D0%A2%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B0-%D0%BC%D0%B0%D0%BB%D0%B5%D0%BD%D1%8C%D0%BA%D0%B0%D1%8F-%D0%BF%D0%BE-%D1%80%D0%B5%D0%B6%D0%B8%D0%BC%D0%B0%D0%BC-1280%D1%85853.jpg>

5.2 Создайте следующую таблицу в ячейке с текстом

<table>
  <tr>
    <td> </td>
    <td> до события </td>
    <td> во время события </td>
    </tr>
    <tr>
    <td> 1 контрольная точка </td>
    <td> 250 </td>
    <td> 500 </td>
    </tr>
    <tr>
    <td> 2 контрольная точка </td>
    <td> 350 </td>
    <td> 700 </td>
    </tr>
    <tr>
    <td> 3 контрольная точка </td>
    <td> 400 </td>
    <td> 800 </td>
    </tr>
  </table>

***Задание 6***

Напишите функцию, которая может принимать любое количество трат пользователя и считать сумму и среднее.
*   На вход поступают целочисленные значения в любом количестве
*   На выходе словарь с ключами суммы трат и средней траты

In [24]:
def sum_numbers(*numbers):
  a = sum(numbers)
  b = len(numbers)
  return {"sum":a, "mean": a/b}
sum_numbers(1,2,3,4,5,6)

{'sum': 21, 'mean': 3.5}